### Helm ###
# Chart dependencies
**/charts/*.tgz
# Temporary values
*.values.yaml
# Temporary debug manifests
manifests.yaml
*.manifests.yaml
# Chart releaser
.cr-release-packages
.cr-index
.pages
# pyTests
__pycache__
.pytest_cache
tmp
!tests/files/*.values.yaml
venv

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
